<!--<mat-card class="card-container" style="background-color: #101414;">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ item.name }}
      </mat-card-title>
      <mat-card-subtitle>
        @if (item.onSale) {
          {{ item.saleDescription }}
        }
      </mat-card-subtitle>
      <img mat-card-lg-image src="data:image/png;base64, {{ item.image }}" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-footer style="padding-left: 15px;">
    <span>{{ item.description }}</span>
    <br />
    @if (item.onSale) {
    <span><s>${{ item.price }}</s> $ {{ item.salePrice }}</span>
    } @else {
    <span>${{ item.price }}</span>
    }
    <br />
    <mat-chip-set>
      <mat-chip (click)="primCategoryClick(item.primCategory.id);">
        {{ item.primCategory.description }}
      </mat-chip>
      @if (item.subCategory.id !== 0) {
      <mat-chip (click)="subCategoryClick(item.subCategory.id);">
        {{ item.subCategory.description }}
      </mat-chip>
      }
    </mat-chip-set>
  </mat-card-footer>
</mat-card>-->

<div class="card-container">
  <div class="card-image">
    <img height="80" width="80" src="data:image/png;base64, {{ item.image }}" />
  </div>
  <div class="card-header">
    <div class="card-title">
      <strong>{{ item.name }}</strong>
    </div>
    <div class="card-subtitle">
      @if (item.onSale) {
      <font color="#ff0000"><strong>{{ item.saleDescription }}</strong></font>
      }
    </div>
  </div>
  <div class="card-description">
    {{ item.description }}
  </div>
  <div class="card-pricing">
    @if (item.onSale) {
    <span><s>${{ item.price }}</s> $ {{ item.salePrice }}</span>
    } @else {
    <span>${{ item.price }}</span>
    }
  </div>
</div>
