.card-container {
  width: 100%;
  border: 1px solid lightgrey;
  height: 100px;
}

.card-image {
  float:left;
  margin: 5px;
}

.card-header {
  float: left;
  border: 0px solid black;
  height: 80%;
  width: 20%;
}

.card-title {
  border: 0px solid black;
}

.card-subtitle {
  border: 0px solid black;
}

.card-description {
  float: left;
  border: 0px solid black;
  width: 40%;
  height: 80%;
}

.card-pricing {
  float: left;
  border: 0px solid black;
  width: 60%;
  height: 20%;
}
