<!--<div class="container-fluid p-0">
  <footer class="d-flex flex-wrap justify-content-between align-items-center bg-light footer fixed-bottom">
    <p class="mb-0 text-body-secondary" style="color: white; margin-left: 25px;">
      © {{ year }} Chum's Spirits Ltd.
    </p>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-fluid justify-content-center">
        <div class="row">
          <div class="col">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>-->

<mat-toolbar class="footerNavBar">
  <span>© Copyright {{ year }} Chum's Spirits Ltd.</span><span [style.display]="showAddress ? 'block' : 'none'">, 94 chapel Street, Harrisville, RI 02830</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button (click)="onClick(0, 0);">All</button>
  @for (cat of primCats; track cat) {
  <button mat-button (click)="onClick(cat.id, 0);">{{ cat.description }}</button>
  }
</mat-toolbar>
