.footer {
  box-shadow: grey 0px 0px 4px 0px;
  color: black;
  background-color: #EF8A21;
}

.detailContainer {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  padding: 25px 0px 30px 0px;
  justify-content: center;
}

.detailItem {
  width: 500px;
  margin-bottom: 10px;
  line-height: 25px;
}

.detailTitle {
}

.detailContent {
}
