.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.content {
  padding: 94px 0 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.banner-container {
    display: flex;
    flex-wrap: nowrap;
}

.merch-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.filterPanel {
  min-width: 249px;
  float: left;
  box-shadow: grey 0px 0px 4px 0px;
  min-height: 620px;
}

.merchList {
  width: 87%;
  float: left;
  padding: 0 0 30px;
  box-shadow: grey 0px 0px 4px 0px;
  min-height: 620px;
}

mat-slider {
  width: 200px;
}
