<app-header class="header" (updateInventory)="changeLiqourCategory($event);"></app-header>

<div class="content">

  <!--consider creating a banner or something more fancy-->
  <app-banner-slider></app-banner-slider>

  <!-- mobile filter panel START -->
  <div class="mobileFilterPanel" [style.display]="showMobileFilter ? 'block' : 'none'">

    <div class="mobileFilterPanelItems">

      <button mat-raised-button style="color:white; background-color:black;" class="mobileFilterPanelBtn" (click)="toggleFilterContainer()">Filter</button>

      <!--<input class="mobileFilterPanelSearchInput" type="search" placeholder="Search" #search>
      <button style="color: black; background-color: white; border: solid 0px black;" onclick="alert('Sorry. This is not yet implemented.')">
        <mat-icon>search</mat-icon>
      </button>-->
    </div>

    <!-- TODO make this a component so we can re-use it -->
    <div class="mobileFilterContainer" [style.display]="showMobileFilterContainer ? 'block' : 'none'">
      <mat-list role="list">
        @for(primCat of primCats; track primCat) {
        <mat-list-item role="listitem">
          <mat-selection-list (selectionChange)="selectPrimaryFilter()" #prims>
            <mat-list-option [value]="primCat"><font color="black">{{ primCat.description }} ({{ getProductCount(primCat.id, 0) }})</font></mat-list-option>
          </mat-selection-list>
        </mat-list-item>
        @for(subCat of getSubCategoriesByPrimary(primCat.id); track subCat) {
        <mat-list-item role="listitem">
          <mat-selection-list (selectionChange)="selectSubFilter()" #subs>
            <mat-list-option [value]="subCat"><font color="darkgrey" style="margin-left: 20px;">{{ subCat.description }} ({{ getProductCount(primCat.id, subCat.id) }})</font></mat-list-option>
          </mat-selection-list>
        </mat-list-item>
        }
        }
        <mat-list-item>
          <font color="black">Price: (${{ minSliderValue }} - ${{ maxSliderValue }})</font>
        </mat-list-item>
        <mat-list-item>
          <mat-slider min="{{ minPrice }}" max="{{ maxPrice }}" step=".01">
            <input [value]="minSliderValue" (dragEnd)="priceSliderValueChanged($event);" (input)="setMinSliderValue($event)" matSliderStartThumb />
            <input [value]="maxSliderValue" (dragEnd)="priceSliderValueChanged($event);" (input)="setMaxSliderValue($event)" matSliderEndThumb />
          </mat-slider>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-raised-button style="color:white; background-color:black;" (click)="toggleFilterContainer();">Close</button>
          <button mat-raised-button style="color:white; background-color:black;" (click)="resetFilter();">Reset Filter</button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <!-- mobile filter panel END -->

  <div class="merch-container">

    <!-- TODO make this a component so we can re-use it -->
    <!-- non-mobile filter panel START -->
    <div class="filterPanel" [style.display]="!showMobileFilter ? 'block' : 'none'">
      <!-- list of filtering options -->
      <div style="padding: 10px;">
        <!--<input type="search" placeholder="Search" #search>
        <button style="color: black; background-color: white; border: solid 0px black;" onclick="alert('Sorry. This is not yet implemented.')">
          <mat-icon>search</mat-icon>
        </button>-->
      </div>

      <mat-list role="list">
        @for(primCat of primCats; track primCat) {
        <mat-list-item role="listitem">
          <mat-selection-list (selectionChange)="selectPrimaryFilter()" #prims>
            <mat-list-option [value]="primCat"><font color="black">{{ primCat.description }} ({{ getProductCount(primCat.id, 0) }})</font></mat-list-option>
          </mat-selection-list>
        </mat-list-item>
        @for(subCat of getSubCategoriesByPrimary(primCat.id); track subCat) {
        <mat-list-item role="listitem">
          <mat-selection-list (selectionChange)="selectSubFilter()" #subs>
            <mat-list-option [value]="subCat"><font color="darkgrey" style="margin-left: 20px;">{{ subCat.description }} ({{ getProductCount(primCat.id, subCat.id) }})</font></mat-list-option>
          </mat-selection-list>
        </mat-list-item>
        }
        }
        <mat-list-item>
          <font color="black">Price: (${{ minSliderValue }} - ${{ maxSliderValue }})</font>
        </mat-list-item>
        <mat-list-item>
          <mat-slider min="{{ minPrice }}" max="{{ maxPrice }}" step=".01">
            <input [value]="minSliderValue" (dragEnd)="priceSliderValueChanged($event);" (input)="setMinSliderValue($event)" matSliderStartThumb />
            <input [value]="maxSliderValue" (dragEnd)="priceSliderValueChanged($event);" (input)="setMaxSliderValue($event)" matSliderEndThumb />
          </mat-slider>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-raised-button style="color:white; background-color:black;" (click)="resetFilter();">Reset Filter</button>
        </mat-list-item>
      </mat-list>
    </div>
    <!-- non-mobile filter panel END -->
    <!-- item list START -->
    <div class="merchList">
      <div *ngFor="let merch of inventory">
        <app-merchandise-tile [item]="merch" (updateInventory)="changeLiqourCategory($event);"></app-merchandise-tile>
      </div>
    </div>
  </div>
  <!-- item list END -->
</div>

<app-footer></app-footer>
