.table-viewer-wrapper {
  border-radius: 12px;
  border: 1px solid var(--mat-sys-outline-variant);
  width: 99%;
  margin: auto;
  margin-top: 5px;
  background-color: black;
}

.userTable {
    table-layout: fixed;
}

.newUserBtn {
    float: right;
    padding: 5px;
}
