@if (!showSlimHeader) {
<div class="headerContainer">
  <mat-toolbar class="header">
    <span style="flex: 2 1 auto;"></span>
    <span style="flex: 8 1 auto;"></span>
    <span style="padding-top: 8px;">
      <mat-icon style="font-size: 20px;">room</mat-icon>
    </span>
    <mat-label style="font-size: 14px;">94 chapel Street, Harrisville, RI 02830</mat-label>
    <span style="padding-top: 8px;">
      <mat-icon style="font-size: 20px;">phone</mat-icon>
    </span>
    <mat-label style="font-size: 14px;">(401) 568-2570</mat-label>
    <span style="flex: 1 1 auto;"></span>
    <span><!--<a href="#" routerLink="/login">Log in</a>--></span>
  </mat-toolbar>

  <img class="headerImg" src="../assets/chums-logo.jpg" />

</div>
} @else {
<div>
  <div class="headerContainerSlim">

    <img class="headerImgSlim" src="../assets/chums-logo.jpg" />

  </div>
</div>
}
